html {
    font-family: Roboto, serif;
    font-size: 17px;
    font-weight: bold;
    /* background-color: #0e0e0e; */
}

.map {
    height: 100vh;
    width: 100vw;
    z-index: 4;
}

.sidebar {
    margin: 0 15px;
    height: 100vh;
    width: 100%;
    display: flex;
    color: #ffffff;
    flex-wrap: wrap;
    position: relative;
}

hr {
    width: 100%;
    border: 1px solid white;
    opacity: 0.5;
    margin: 10px 0;
    align-items: center;
}

button {
    margin: 20px;
    height: 20px;
    width: 20px;
}


input[type=checkbox] {
    appearance: none;
    border: 1px solid #fff;
    border-radius: 50%;
    outline-style: solid;
    outline-width: 0px;
    height: 16;
    width: 16;
    cursor: pointer;
}

input[type=checkbox] {
    transition-duration: 0.5s;
}


input[type=text] {
    color: #fff;
}

input[type=text]::placeholder {
    color: #fff;
}

.Stores:checked {
    border-color: #E22887;
    background-color: #E22887;
    box-shadow: inset 0 0 0 8px #E22887;
}

.Sales:checked {
    border-color: #17AA58;
    background-color: #17AA58;
    box-shadow: inset 0 0 0 8px #17AA58;
}

.Competitors:checked {
    border-color: #FFC04A;
    background-color: #FFC04A;
    box-shadow: inset 0 0 0 8px #FFC04A;
}

.Maturity:checked {
    border-color: #0088CF;
    background-color: #0088CF;
    box-shadow: inset 0 0 0 8px #0088CF;
}

.Seasonality:checked {
    border-color: #6E72B7;
    background-color: #6E72B7;
    box-shadow: inset 0 0 0 8px #6E72B7;
}

.Marketshare:checked {
    border-color: #34A6E1;
    background-color: #34A6E1;
    box-shadow: inset 0 0 0 8px #34A6E1;
}


.cls-1 {
    fill: #ffffff;
    z-index: 2;
}

.clmn-1 {
    display: flex;
    flex-direction: column;
    width: 63px;
}

.profile-container {
    height: 200px;
    width: 200px;
}

.avatar {
    margin: 60 auto 70 auto;
    border-radius: 32px;
    height: 64px;
    width: 64px;
}

.text-placeholder {
    width: 0px;
    height: 10px;
    cursor: pointer;
}

.text-placeholder2 {
    width: 0px;
    height: 10px;
}

.text {
    margin: -40 auto 28% 20%;
}


.search-box {
    position: absolute;
    font-style: normal;
    bottom: 20px;
    left: 15px;
    width: 200px;
}

.search-box input {
    height: 30px;
    width: 100%;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 35px;
    caret-color: white;
    border: none;
    border-radius: 10px;
    background-color: #3A2E2F;
    outline: none;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

ul,
li {
    margin: 0;
    padding: 0;
    justify-self: center;
    list-style-type: none;
}

.widget_row {
    width: 100;
}
