affine==2.4.0
anyio==3.7.0
asgiref==3.7.2
attrs==23.1.0
boto3==1.26.152
botocore==1.29.152
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
color-operations==0.1.1
colorclass==2.2.2
coreapi==2.3.3
coreschema==0.0.4
cryptography==42.0.4
defusedxml==0.7.1
dj-rest-auth==4.0.1
Django==4.2.2
django-allauth==0.54.0
django-cors-headers==4.0.0
djangorestframework==3.14.0
djangorestframework-gis==1.0
djangorestframework-simplejwt==5.2.2
docopt==0.6.2
drf-spectacular==0.26.2
exceptiongroup==1.1.1
GDAL==3.2.2
gunicorn==20.1.0
h11==0.14.0
httpcore==0.17.2
httpx==0.24.1
idna==3.4
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.17.3
lambda-proxy==5.2.1
MarkupSafe==2.1.3
mercantile==1.2.1
morecantile==4.2.0
nltk==3.8.1
numexpr==2.8.4
numpy==1.24.3
oauthlib==3.2.2
packaging==23.1
pandas==2.0.2
pdf-info==2.1.0
pdf2image==1.16.3
pdfminer==20191125
Pillow==10.0.1
pip-upgrader==1.4.15
psycopg2-binary==2.9.6
pycparser==2.21
pycryptodome==3.18.0
pydantic==1.10.9
pygeos==0.14
PyJWT==2.7.0
PyMuPDF==1.22.3
pyparsing==3.0.9
PyPDF2==3.0.1
pyproj==3.6.0
pyrsistent==0.19.3
pystac==1.7.3
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2023.3
PyYAML==6.0
rasterio==1.3.7
regex==2023.5.5
requests==2.31.0
requests-oauthlib==1.3.1
rfc3986==2.0.0
rio-color==1.0.4
rio-mucho==1.0.0
rio-tiler==5.0.0
ruamel.yaml==0.17.31
ruamel.yaml.clib==0.2.7
s3transfer==0.6.1
shapely==2.0.1
six==1.16.0
scikit-learn
sniffio==1.3.0
snuggs==1.4.7
sqlparse==0.4.4
supermercado==0.2.0
terminaltables==3.1.10
tqdm==4.65.0
typing_extensions==4.6.3
tzdata==2023.3
uritemplate==4.1.1
urllib3>=1.25.4
